@charset "UTF-8";

@font-face {
    font-family: 'Texto';
    src: url(../Fontes/MozillaText-VariableFont_wght.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background: #76a3c2 url(../IIMGS/background.jpg) center center/ cover no-repeat fixed;
    width: 100%;
    height: 100%;
    font-family: 'Texto', Arial, Helvetica, sans-serif;
}

main {
    background-color: #fff;
    margin: auto;
    width: 100%;
    max-width: 450px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
    border: 2px solid #3a82bd;
}

h1 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 12px;
}

hr {
    border: none;
    height: 1.4px;
    margin-bottom: 12px;
    width: 100%;
    background-color: #3a82bd75;
}

.hrMeioListas {
    max-width: 400px;
}

h2 {
    font-weight: lighter;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    font-size: 1.5em;
}

form#campTudoInput {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

div#criarListaCamp, div#campPesquisar, div#campFiltro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    gap: 7px;

}

div#camposPesFiltr {
    width: 100%;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

div#criarListaCamp {
    text-align: center;
}

div#criarListaCamp p {
    
}

div#campPesquisar {
}

div#campFiltro {
    border-left: 1px solid #3a82bd75 ;
    padding-left: 31px;

}

input {
    font: normal 1em Arial, Helvetica, sans-serif;
    padding: 4px 7px;
    background-color: #cccccc;
    border: none;
    border-radius: 5px;
}

input[type=text]::placeholder {
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.404);
    font-size: 1.1em;
    text-align: center;
}

input[type=text]:focus-within::placeholder {
    color: #868686;
    text-shadow: none;
}

input:focus-within {
    background-color: #ffffff;
}

select {
    font-size: 1.1em;
    text-align: center;
}

.icone {
    transform: translateY(10%);
    font-size: 1.3em;
    cursor: pointer;
}

.icone:hover {
    color: #4fd8dd;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.438));
    transition: color .2s, .05s;
}

.icone:active {
    color: #b0fcff;
    transition: .1s;
}


div#campoTarefas {
    width: 100%;
}

div.tarefa {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #20D6CF;
    padding: 10px ;
    border-radius: 5px;
    border: 2px solid transparent;
}

.tarefaIcon {
    font-size: 1.6em;
    transform: translateY(5%);
    cursor: pointer;
}

.tarefaIcon:hover {
    transition: color .2s, filter .1s;
    transition-timing-function: ease;
}

.concluida:hover {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.329));
    color: #44db3f;
}

.concluida:active {
    color: #91ff8d;
    transition-duration: .1s;
}

.penIcon:hover {
    color: #4293d4;
}

.penIcon:active {
    color: #70bfff;
}

.deleteIcon {
    font-size: 1.6em;
    transform: translateY(5%);
    cursor: pointer;
    color: #e03d3d;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.233));
}

.deleteIcon:hover {
    color: #ff4f4f;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.deleteIcon:active {
    color: #ffebeb;
    transition-duration: .1s;
}


.tarefa p {
    font-size: 1.3em;
    font-weight: normal;
}

.tarefa p.Completo {
    font-style: italic;
    text-decoration: line-through;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
}